<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.bank.ZzeroBank</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerServlet</display-name>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.bank.login.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/cust</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMoneyServlets</display-name>
    <servlet-name>GetMoneyServlets</servlet-name>
    <servlet-class>com.bank.login.GetMoneyServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMoneyServlets</servlet-name>
    <url-pattern>/get</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositMoney</display-name>
    <servlet-name>DepositMoney</servlet-name>
    <servlet-class>com.bank.login.DepositMoney</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositMoney</servlet-name>
    <url-pattern>/deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>withDrawMoney</display-name>
    <servlet-name>withDrawMoney</servlet-name>
    <servlet-class>com.bank.login.withDrawMoney</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>withDrawMoney</servlet-name>
    <url-pattern>/with</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferServlet</display-name>
    <servlet-name>TransferServlet</servlet-name>
    <servlet-class>com.bank.login.TransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferServlet</servlet-name>
    <url-pattern>/transfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckBalanceServlet</display-name>
    <servlet-name>CheckBalanceServlet</servlet-name>
    <servlet-class>com.bank.employee.CheckBalanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckBalanceServlet</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployServlet</display-name>
    <servlet-name>EmployServlet</servlet-name>
    <servlet-class>com.bank.employee.EmployServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployServlet</servlet-name>
    <url-pattern>/emp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VeiwCustomerServlet</display-name>
    <servlet-name>VeiwCustomerServlet</servlet-name>
    <servlet-class>com.bank.employee.VeiwCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VeiwCustomerServlet</servlet-name>
    <url-pattern>/veiw</url-pattern>
  </servlet-mapping>
</web-app>